:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1.5px;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #41403e;
}

html {
  width: 100%;
  height: 100%;
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    #root {
      width: 100%;
      padding: 1rem 0;
      height: calc(100% - 2rem);
//      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      background: linear-gradient(135deg, #FFDE00 0%, #FFF9C4 50%, #FFFFFF 100%);
      overflow-y: auto;
      .btn {
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
        font-size: 1rem;
        line-height: 23px;
        outline: none;
        padding: 1rem;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        cursor: pointer;
        border-color: black;
        transition: 0.6s ease;

        &:hover {
          box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
          transform: translate3d(0, 2px, 0);
        }
      }
    }
    @media (max-width: 767px) {
      #root {

      }
    }
  }
}
