@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    height: 60px;
    width: 60px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  gap: 2rem;
  justify-content: space-around;
  height: 100%;
  .code {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    white-space: pre-wrap;
    .comment {
      color: #d4d4d4;
    }
    .footer {
      align-self: start;
    }
  }
  .radio_container {
    display: flex;
    justify-content: center;
    .radio {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .item {
        .radio_input {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
          position: relative;
          height: 20px;
          width: 20px;
          transition: all 0.15s ease-out 0s;
    //      background: #cbd1d8;
          background-color: transparent;
          border: 2px solid black;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          margin-right: 0.5rem;
          outline: none;
          z-index: 1000;
          border-radius: 50%;
          &:checked:before {
            width: 10px;
            height: 10px;
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: black;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:checked:after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: black;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
            border-radius: 50%;
          }
        }

        .answerText {
          font-size: 1rem;
          color: #333;
          transition: 0.6s ease;

          strong {
            margin-right: 0.5rem;
          }

          &:hover {
            transform: translate3d(0, 1px, 0);
          }
        }
      }
    }
  }
  .btn_container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

.win {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  height: 100%;
}
