.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btn {
    width: 10vw;
  }
  .desc_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    span {
      color: black;
      font-size: 2rem;
    }
    .btn_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
}
